/* width */
aside::-webkit-scrollbar {
    width: 10px;
}

/* Track */
aside::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
aside::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.home-page aside {
    position: relative;
    //height: calc(100vh - 250px);
    overflow-y: scroll;
    background-color: #ffffff;
    padding: 0px 0px 0px 15px;

}
.home-page aside .deliver_date .section-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.home-page aside .deliver_date .section-options{
    display:flex;flex-flow:row wrap;justify-content:space-between

}
.home-page aside .deliver_date .section-options{
    display:flex;flex-flow:row wrap;justify-content:space-between

}
.home-page aside .deliver_date .section-options .input_group{
    width:40px;height:40px

}
.home-page aside .deliver_date .section-options .input_group input:checked+label{
    background-color:#7b93c9;border:2px solid #253a79

}
.home-page aside .deliver_date .section-options .input_group input:checked+label span{
    color:#253a79

}
.home-page aside .deliver_date .section-options label{
    padding:0;position:relative;width:100%;height:100%;border-radius:50px;border:2px solid $primaryColor;background-color:#fff;cursor:pointer;line-height:40px;text-align:center

}
.home-page aside .deliver_date .section-options label span{
    font-family:Tajawal-Bold,sans-serif;font-size:16px;color:#7b93c9;text-align:center

}
.home-page aside .opening-hours .section-options .input_group input:checked+label{
    //background-color:#b1def9;
    &:before {
        border-color: $primaryColor;
    }
    //border:2px dashed $primaryColor
}

.home-page aside .opening-hours .building-options .input_group input:checked+label,
.home-page aside .opening-hours .type-options .input_group input:checked+label,
.home-page aside .opening-hours .category-options .input_group input:checked+label {
    background-color:#b1def9;
    border:2px dashed $primaryColor;
}
.home-page aside .deliver_date .section-options .input_group input:checked+label{
    //background-color:#b1def9;
    //border:2px dashed $primaryColor
}
.home-page aside .deliver_date .section-options .input_group{width:60px;height:40px}
.home-page aside .deliver_date .section-options label{padding:0;position:relative;width:100%;height:100%;border-radius:10px;border:2px dashed #d8d5d3;background-color:#fff;cursor:pointer;line-height:40px;text-align:center}
.home-page aside .deliver_date input[type=checkbox], .home-page aside .deliver_date input[type=radio] {
    display: none !important;
    opacity: 0;
    width: 0;
    margin: 0;
}
.home-page aside .deliver_date .section-options label{
    background: #fff !important;
}
.home-page aside .deliver_date .section-options .input_group label::before{
    content:none !important;
}
.home-page aside .deliver_date .section-options .input_group label, .home-page aside .deliver_date .section-options .input_group:nth-of-type(1) label, .home-page aside .deliver_date .section-options .input_group:nth-last-of-type(1) label {
    padding: 10px 5px 0 5px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}
.section-search-title {
    display: flex;
    justify-content: space-between;
}
.section-search-title h5 {
    font-size: 15px;
    color: $primaryColor;
    padding: 0 0 5px;
    margin: 0;
}
.section-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
.section-options .input_group {
    margin: 0;
}
.home-page aside input[type="checkbox"], .home-page aside input[type="radio"] {
    display: none;
    opacity: 0;
    width: 0;
    margin: 0;
}
.home-page aside .project-main .section-options .input_group label {
    font-size: 15px;
    color: #090d3e;
    position: relative;
    width: 100%;
    padding: 2px;
    background-color: #fff;
    border: 2px dashed #d8d5d3;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
}

.home-page aside .section-title {
    display: flex;
    justify-content: space-between;
}

.home-page aside .section-title h5 {
    font-size: 15px;
    color: $primaryColor;
    font-weight: 600;
    padding: 0 0 5px;
    margin: 0 0 0px 0;
}

.home-page aside .project-type .section-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
.home-page aside input[type="checkbox"], .home-page aside input[type="radio"] {
    display: none;
    opacity: 0;
    width: 0;
    margin: 0;
}

.home-page aside .project-type .section-options .input_group label {
    font-size: 15px;
    color: #090d3e;
    position: relative;
    width: 100%;
    padding: 2px;
    background-color: #fff;
    border: 2px dashed #d8d5d3;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
}

.opening-hours {
    position: relative;
    overflow: hidden;
}

.home-page aside .realestate-type .section-options {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.home-page aside .realestate-type .section-options .input_group {
    position: relative;
    width: 100%;
    padding-top: 100%;
}


.home-page aside .realestate-type .section-options label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px dashed #d8d5d3;
    background-color: #fff;
    cursor: pointer;
}

.home-page aside .realestate-type .section-options label img {
    width: 80% !important;
}
.home-page aside .realestate-type .section-options label small {
    font-size: 15px;
    color: #253a79;
    text-align: center;
    padding: 0 10px;
}

.boxed-widget {
    padding: 10px !important;
    background: #f9f9f9 !important;
    box-shadow: 0px 0px 2px 0px;
    border-radius: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
.home-page aside .location .inside-section-title,
.home-page aside .location .section-title {
    cursor: pointer;
}

.home-page aside .section-title .icon i {
    color: $primaryColor;
}

.home-page aside .location .section-options {
    display: block;
}

.home-page aside .location .section-options .input_group {
    width: 100%;
}

.home-page aside input[type="checkbox"],
.home-page aside input[type="radio"] {
    display: none;
    opacity: 0;
    width: 0;
    margin: 0;
}

.home-page aside .location .section-options .input_group:nth-of-type(1) label {
    font-size: 15px;
    color: #253a79;
    position: relative;
    width: 90%;
    padding: 0px 35px 10px 5px;
    background-color: transparent;
    border-bottom: 1px dashed #d8d5d3;
    cursor: pointer;
    line-height: normal;
}

.home-page aside .location .section-options .input_group label::before {
    content: "";
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 4px;
    border: 2px solid #8fb4e1;
    background-color: transparent;
}


.home-page aside .location .section-options .input_group label {
    font-family: $primaryFont;
    font-size: 15px;
    color: #253a79;
    position: relative;
    width: 90%;
    padding: 0px 35px 5px 5px;
    background-color: transparent;
    border-bottom: 1px dashed #d8d5d3;
    cursor: pointer;
    line-height: normal;
}

.margin-top-5 {
    margin-top: 5px !important;
}

//.inner-pages input.first-slider-value {
//    float: right;
//    margin-right: -8px;
//    margin-left: 0;
//}
//
//.inner-pages input.second-slider-value {
//    float: left;
//    margin-left: -8px;
//    margin-right: 0;
//}

.header-map {
    display: flex;
    flex-direction: row-reverse;
    background:#fff;

    .search-sidebar {
        width: 20%;
        position: absolute;
        right:0;
        padding:20px;
    }

    .map-section {
        width: 80%;
    }

    //@media screen and (max-width: 768px) {
    //    flex-direction: column;
    //     .search-sidebar {
    //        width: 100% !important;
    //    }
    //    .map-section {
    //        width: 100% !important;
    //    }
    //}
}


@media only screen and (max-width: 768px) {
    .header-map {
        flex-direction: column;
    }
    #map-container .search-sidebar {
        width: 100%;
        order: 0
    }
    #map-container #map-leaflet {
        width: 100%;
        order: 1;
        margin-top:780px;
    }

    .homepage-9 section.featured-projects-section {
        margin-top: 800px;
    }
    .mm-listview a.button {
        margin-right: 100px;
    }
}
